/* 
Reset
*/

    @import url('./system-font-css.css');
    
    :root {
        --main-bg-color: white;
      }

    *{
        /* Gestion de la taille des blocs */
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        /* Suppression des marges */
        padding: 0;
        margin: 0;
    }

    html{
        /* Configuration de la valeur 1rem = 10px */
        font-size: 62.5%;
    }

    body{
        font-family: 'Rubik', sans-serif;
        font-size: 1.5rem;
        background-color: var(--main-bg-color);
      
    }
    
    article{
        padding-bottom: 3rem;
        padding-top: 3rem;
    }

    main {
        max-width: 80%;
        margin: 0 auto;
    }
    section{
        padding-top: 2rem; 
        padding-bottom: 2rem; 
    }
    h1{
        font-family: 'Dancing Script', cursive;
        font-size: 3rem;
    }

    h2{font-family: 'Rubik', sans-serif;}

    .icone{
        width: 5rem;
    }

    header{
        text-align: center;
    }
    header img:first-of-type{
        max-width: 30%;
    }

    nav{
        text-align: center;
        /* margin: auto 0; */
    }

   nav ul li{
        display: inline;
        padding: 2rem;
    }

    
    .sectionProd{
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
    }
    
    .sectionProd p:first-of-type{
        font-weight: bold;
    }
    .sectionProd article{
        width: 50%;
    }
    
    .sectionProd img{
        width: 80%;
    }
    .articleIcones{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        text-align: center;
    }
    
    .articleIcones div{
        padding: 2rem;  
    }
    
    
    .sectionUtilisation div{
        display: flex;
    }
    
    .sectionProdRelatifs div{
        display: flex;
    }
    
    .produitR{
        max-width: 50%;
        text-align: center;
    }
    
    .sectionProdRelatifs article{
        
        text-align: center;
    }
    
    footer{
        max-width: 80%;
        margin: 0 auto;
    }
    
    .foot{ display: flex;
        align-items: center;
        justify-content: space-around}
        
        .foot img{
            width: 30%;
        }
    
    footer ul li {
    list-style: none;
    text-align: center;
        }
        /* max-width
        #FA96BE
        #7AF02B
        #BEFA96
        */
        
        
        /* 
        b{ }
        hhbbgdgdbastart */