/* 
Reset
*/

    @import url('./system-font-css.css');
    
    :root {
        --main-bg-color: white;
      }

    *{
        /* Gestion de la taille des blocs */
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        /* Suppression des marges */
        padding: 0;
        margin: 0;
    }

    html{
        /* Configuration de la valeur 1rem = 10px */
        font-size: 62.5%;
    }

    body{
        font-family: 'Rubik', sans-serif;
        font-size: 1.5rem;
        background-color: var(--main-bg-color);
    }
    
    h1{
        font-family: 'Dancing Script', cursive;
    }


    /* max-width
    #FA96BE
    #7AF02B
    #BEFA96
    */


    /* 
    b{ }
    hhbbgdgdbastart */