/* 
Reset
*/
    @import url('./system-font-css.css');
    
    :root {
        --main-bg-color:   #FA96BE;
      }

    *{
        /* Gestion de la taille des blocs */
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        /* Suppression des marges */
        padding: 0;
        margin: 0;
    }

    html{
        /* Configuration de la valeur 1rem = 10px */
        font-size: 62.5%;
    }

    img{
        max-width: 100%;
    }

    body{
        font-family: 'Rubik', sans-serif;
        font-size: 1.5rem;
        color: rgb(56, 56, 56);
        background-color: white;
        border-bottom: 1rem solid  var(--main-bg-color);
    }
    
    main {
        max-width: 80%;
        margin: 0 auto;
    }

    section{
        padding-top: 4rem; 
        padding-bottom: 4rem; 
    }


    article{
        margin-top: 1rem;
    }
    
    h1{
        font-family: 'Dancing Script', cursive;
        font-size: 3.5rem;
        padding-bottom: 1rem; 
    }

    p{
        margin-top : 2rem; 
        /* width: 80%; */
    }
    h2{
        font-family: 'Rubik', sans-serif;
    }

    .icone{
        max-width: 3.5rem;
    }
/**/
 
    h3{
        font-weight: bold;
        color: var(--main-bg-color);
    }

/* HEADER   */
    header{
        /* text-align: right; */
        padding-top: 2rem;
        box-shadow: 1px 1px 12px #555;    
    }

    header a{
        text-decoration: none;  
        color: rgb(56, 56, 56);   
        font-size: 1.5rem;  
    }

    
/* Premiere Nav avec le logo */
    .logo{
        width: 45rem;
    }

    .premiereNav{
        position: relative;
        text-align: center;
     }

     
    .premiereNav li:last-child{
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width : 25%;
    }

    /* Bouton de la nav */
    .premiereNav a {
        text-align: center;
        color:  var(--main-bg-color);
        padding: 1rem;
        border: 0.1rem solid  var(--main-bg-color);
        text-transform: uppercase;
        border-radius: 3px;
    }
    
    
/* Navigation menu principal */
    nav{
        text-transform: uppercase;
        border-bottom: 0.1px solid gainsboro;
        padding: 1rem;
        text-align: center; 
    }
    
    nav ul li{
       display: inline-block;
       padding: 2rem;
       }


    
/* Deuxieme navigation propre au produit     */
     /* Menus sticky */
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
      
    .deuxiemeNav{
       text-align: right;
       padding : 2rem;
       position: relative;
       background-color: white;  
       }
    
    .deuxiemeNav li {
       display: inline-block;
       padding: 2rem;  
    }

    /* Premier texte du sous menu, situé à gauche */
    .deuxiemeNav li:first-of-type{
        font-family: 'Dancing script', sans-serif;
        font-size: 2.5rem;
        position: absolute;
        left: 10%;
        bottom: 20%;
    }

    /* Icones de feuilles de la nav*/
    .iconeF{
        width: 2rem;
        vertical-align: middle; 
    }
/*
FIN HEADER
*/    

/* SECTION PRODUITS */

    /* Mise en ligne des 2 articles, le produit et la description */
    .sectionUtilisation article{
        width: calc(50% - 2rem);
        display: inline-block;
        vertical-align: top;
    }


    /* Prix centré et entre 2 traits */
    .center{
        text-align: center;
        padding: 5rem;
        font-size: 2rem;
        font-weight: bold;
        color: var(--main-bg-color);
    }

    .center:before, .center:after { 
        content:''; 
        display:inline-block; 
        vertical-align: middle; 
        width: 25%; 
        height: 1px; 
        background: #000; }

    .center:before { 
        margin-right: 3rem 
    }
    .center:after { 
        margin-left: 3rem 
    }
    
/* A CHANGER */
    /* Partie de droite */
    .description div{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    /* bouton Ajouter */
    .description a{
        background-color: var(--main-bg-color);
        padding: 1.5rem;
        border-radius: .4rem;
        color: white;
        width: 50%;
        text-align: center;
        text-transform: uppercase;
    }

    /* Descendre le texte de la description */
    .sectionProd article:last-of-type{
        padding-top : 5rem; 
    }

    /* Pour le coeur */
    .description img{
        max-width: 6%;
    }

    select{
        font-size: 2rem;
    }
/* 
FIN SECTION PRODUITS 
*/


/* SECTION UTILISATION */
    /*Fiche conseils */
    .fiche{
        max-width: 90%;
        display: inline-block;
        text-align: center;
        max-height: 40rem;
        box-shadow: 1px 1px 6px #555;
        padding-bottom: 3rem;   
        /* margin: 2rem;  */
        margin-top: 2rem; 
        border-radius: 3px;
    }
/* 
FIN SECTION UTILISATION 
*/


/* SECTION PERSONNALISATION */

/* FLEX !!!! */
    .sectionPerso article:last-of-type{
        display: flex;
        align-items: center;
    }
    
    /* blocs avec les bouteilles et les prix */
    .perso{
        text-align: center;
        position: relative;
    }

    /* Boutons ajouter */
    .perso a{
        margin: auto;
        height: 4rem;
        width: 10rem;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        border-radius: .4rem;
        padding: 1rem;
        text-transform: uppercase;
        background-color: var(--main-bg-color);
        color: white;
        text-align: center; 
    }

    /* Mise en page du prix */
    .perso p:last-child{
        font-weight: 100;
        color: #555;
    }
/*
 FIN SECTION PERSONNALISATION 
*/

/* SECTION PRODUITS RELATIFS */
    /* fiche amenant vers le blog */
    .ficheBlog{
        max-width: 50%;
        display: inline-block;
        text-align: center;
        max-height: 30rem;
        box-shadow: 1px 1px 6px #555;
        padding-bottom: 3rem;   
        margin: 2rem; 
        border-radius: 3px;
    }

    /* Taille max de l'image */
    .ficheBlog img{
        max-width: 30rem;
    }
/*
FIN DE SECTION PRODUITS RELATIFS
*/






.user{
    width: 3rem;
    border-radius: 50%;
    vertical-align: middle;
}


.jauge div:first-of-type{
    width: 100%;
    height: 1rem;
    background-color: gray;
        border-radius: .4rem;  
        margin: 2rem 2rem 2rem 0 ;
    }
    
    .jauge div div:first-of-type{
        width: 10%;
        height: 1rem;
        background-color: blue;
        border-radius: .4rem;  
        margin: 2rem 2rem 2rem 0 ;
    }

    


    .unCommentaire{
        width: calc(50% - 3rem);
        border-radius: 3px;
        position: relative;
        padding: 2rem;
        display: inline-block;
        box-shadow: 1px 1px 6px #555;
        margin-top: 2rem;
        /* padding-left: 3rem; */
        /* padding-right: 3rem; */
        /* margin-right; */
    }
    
    .avis div:first-of-type{
        margin-right: 5rem;
    }

    .avis article{
        position: relative;
        /* margin: 0 auto; */
        margin-top: 1rem;
        margin-bottom: 4rem;  
    }

    .fas{
        position: absolute;
        top: 50%;
        /* right: 0; */
    }

    .avis a{
        position: absolute; 
        bottom: 2.8rem;
        right: 2rem;
        color: var(--main-bg-color);
    }

    .feuille{
        position: absolute; 
        top: 2rem;
        right: -3rem;
        color: var(--main-bg-color);
    }

    .avis a::after{
        content: "";
        width: 8rem;
        height: 1px;
        display: block;
        background-color: #FA96BE;
    }


    


    h5{
        font-size: 2rem;
        font-family: 'dancing script', sans-serif;
    }


    h4{
        font-size: 5rem;
        font-family: 'Dancing script', sans-serif;
    }

    
    .sectionProd{
        display: flex;
        flex-direction: row;
        margin-top: 2rem; 
    }
    
    .sectionProd p:first-of-type{
        font-weight: bold;
    }
    .sectionProd article{
        max-width: 50%;
    }
    .sectionProd article:last-of-type{
        max-width: 45%;
    }
    


    /* .sectionProd img{
        width: 80%;
    } */
    .articleIcones{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        text-align: center;
        margin-top: 2rem; 
    }
    
    .articleIcones div{
        padding: 2rem;  
    }
    

    
    .sectionProdRelatifs div{
        display: flex;
        justify-content: space-between;
    }
    
    .sectionProdRelatifs div article{
        width: calc(15% - 1rem);
    }



/*     
    .produitR{
        max-width: 100%;
        text-align: center;
    } */
    

    .listeIngredients{
        display: flex;
        justify-content: flex-start;
        /* justify-content: space-around; */

    }

    .listeIngredients ul{
        padding-right: 2rem;
    }
    .sectionProdRelatifs article{
        
        text-align: center;
    }

    .avis span{
        color: var(--main-bg-color);
        font-weight: bold;
    }

    .commentaire{
        text-align: center; 
    }


    /* FOOTER */
    footer{
        max-width: 80%;
        margin: 0 auto;
        padding: 2rem;
    }

    footer article:first-of-type{
       text-align: center;
       justify-content: space-around;
    }

    
    
    /* .iconeFoot img:first-of-type{
        width: 11rem;
    } */
    
    
    .itemFooter li{
        padding: 1rem;
    }
    
    footer ul{
        position: relative;
    }
    
    footer ul:after {
        content: url('../img/deco/Groupe\ 24.png');
        display: inline-block;
        margin: 1rem auto 0rem;
        position: absolute;
        text-align: center;
        width: 100%;
    }
    
    .foot{ 
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-top: 0.1rem solid  var(--main-bg-color);
        /* padding: 4rem; */
        margin-top: 4rem;
        margin-bottom: 4rem;
        padding: 1rem 0 1rem;
    }
    
    
    
    .foot img{
        width: 30%;
    }
    
    footer ul li {
        list-style: none;
        text-align: center;
    }
    /* max-width
    #FA96BE
    #7AF02B
    #BEFA96
    */
    
    
    /* 
    b{ }
    hhbbgdgdbastart */
    
    
    
    
    .iconeFoot{
        display: inline-block;
        width: calc(25% - 1rem);
     color: #898989;
     position: relative;
     padding: 1rem;
        vertical-align: top;
        margin-top: 20rem; 
    }
    .superpose {
        position: absolute;
        width: 20rem;
        top : -20rem;
        left: 0;
        right: 0;
        margin: auto
        
            }


    .iconeFoot img:first-of-type {
        z-index: 10;
        padding: 3rem;
        padding-top: 6rem;
        max-width: 17rem;
    }
    


    .listeIngredients ul:first-child li:before{ 
        content:''; 
        display:inline-block; 
        vertical-align: middle; 
        width: 2rem; 
        height: .5rem;
        border-radius: 1rem;
        margin-right: 2rem; 
        background: var(--main-bg-color); }

    .listeIngredients ul:last-child li:before{ 
        content:''; 
        display:inline-block; 
        vertical-align: middle; 
        width: 2rem; 
        height: .5rem;
        border-radius: 1rem;
        margin-right: 2rem; 
        background: var(--main-bg-color); }